.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(45px, 5vh, 70px);
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--turing-blue-color);
    font-size: clamp(10px, 1.5vw, 18px);
    font-weight: medium;
    gap: clamp(20px, 3vw, 32px);
}

.active {
    border-bottom: 2px solid var(--turing-blue-color);
}

.list__item {
    padding: 10px 0;
}