.home-container {
    h1 {
        font-weight: 500;
        font-size: 30px;
        margin-top: 100px;
        margin-left: 72px;
    }

    .cards {
        max-width: 1385px;
        margin: 20px auto 0 auto;
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 52px;
    }
}

.navbar {

    max-width: 1440px;
    margin: auto;
    height: 110px;
    display: flex;
    padding: 30px 72px;
    justify-content: space-between;

    .logo img {
        width: 112.96295928955078px;
        height: 50px;
    }

    .controlPanel {
        display: flex;
        justify-content: space-between;
        width: 156px;
        height: 30px;
        gap: 40px;
        align-items: center;
        font-size: 25px;

        p {
            color: #0D1B4D;
            font-size: 17px;
            font-weight: 400;
            font-size: 16px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.header {
    .container {
        max-width: 660px;
        height: 140px;
        margin: auto;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;

        .addNew {
            display: flex;
            gap: 16px;

            .mentorium,
            .project {
                flex-wrap: nowrap;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: clamp(8px, 1vw, 16px);
                border-radius: 49px;
                padding-right: clamp(4px, 1vw, 8px);
                font-weight: 450;
                font-size: clamp(10px, 1vw, 18px);

            }


        }

        .plus-icon-mentorium,
        .plus-icon-project {
            padding: clamp(3px, 0.5vw, 6px);
            border-radius: 100%;
            background-color: white;
            color: #0D1B4D;
            font-size: clamp(20px, 3vw, 36px);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            cursor: pointer;
        }

        .plus-icon-project {

            color: white;
            background-color: #0D1B4D;

        }

        .search {
            display: flex;
            align-items: center;
            background-color: #F3F3F6;
            height: 60px;
            width: 660px;
            border-radius: 100px;
            padding-left: 10px;

            input {
                border: none;
                background: transparent;
                outline: none;
                width: 79%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .btn-dropdown {
                display: flex;
                align-items: center;
                width: 114px;
                height: 44px;
                gap: 16px;

                .dropdown {
                    cursor: pointer;
                    position: relative;

                    p {
                        display: flex;
                        align-items: center;
                        font-weight: 550;
                    }

                    ul {
                        position: absolute;
                        background-color: white;
                        border-radius: 8px;
                        margin-top: 15px;
                        padding: 8px;
                        box-shadow: 0px 0px 28.1px 0px #00000033;
                        width: 110px;
                        height: 126px;
                    }

                    li {
                        margin: 10px 0;
                        height: 30px;
                        font-size: 16px;
                        font-weight: 400;
                        padding-left: 5px;
                        display: flex;
                        align-items: center;
                    }

                    li:hover {
                        background-color: #FFDCCF;
                        color: 1px solid #FFC8B4;
                        border-radius: 6px;
                        font-weight: 550;
                    }
                }
            }
        }

        .search-icon {
            min-width: 50px;
            height: 50px;
            font-size: 25px;
            border-radius: 100px;
            background-color: #FF4400;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}