*{
    font-family: "Manrope", sans-serif;
}


.home-container {
    h1 {
        font-weight: 500;
        font-size: 30px;
        margin-top: 100px;
        margin-left: 72px;
    }

    .cards {
        max-width: 1385px;
        margin: 20px auto 0 auto ;
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 52px;
    }
}



.navbar {
    font-family: "Manrope", sans-serif;
    max-width: 1440px;
    margin: auto;
    height: 110px;
    display: flex;
    padding: 30px 72px ;
    justify-content: space-between;

    .logo img {
        width: 112.96295928955078px;
        height: 50px;
    
    }

    .controlPanel{
        display: flex;
        justify-content: space-between;
        width: 156px;
        height: 30px;
        gap: 40px;
        align-items: center;
        font-size: 25px;

        p {
            color: #0D1B4D;
            font-size: 17px;
            font-weight: 400;
            font-size: 16px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}




.header {

    .container{
        max-width: 660px;
        height: 140px;
        margin: auto;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;

        .addNew {
            display: flex;
            gap: 16px;

            .mentorium {
                width: 200px;
                height: 60px;
                border-radius: 49px;
                background-color: #0D1B4D;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                
                
            }


            .project {
                width: 169px;
                height: 60px;
                border-radius: 49px;
                border: 1px solid #0D1B4D;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
            }
            
            
        }


        .plus-icon-mentorium {
            width: 44px;
            height: 44px;
            border-radius: 32px;
            background-color: white;
            color: #0D1B4D;
            font-size: 44px;
            text-align: center;
            cursor: pointer;
        }

        .plus-icon-project {
            width: 44px;
            height: 44px;
            border-radius: 32px;
            color: white;
            background-color: #0D1B4D;
            font-size: 44px;
            text-align: center;
            cursor: pointer;
        }


        .search {
            display: flex;
            align-items: center;
            background-color: #F3F3F6;
            height: 60px;
            width: 660px;
            border-radius: 100px;
            padding-left: 10px;

            input {
                border: none;
                background: transparent;
                outline: none;
                width: 79%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }


            .btn-dropdown {
                display: flex;
                align-items: center;
                width: 114px;
                height: 44px;
                gap: 16px;


                .dropdown{
                    cursor: pointer;
                    position: relative;
                    p{
                        display: flex;
                        align-items: center;
                        font-weight: 550;
                    }
                    ul{
                        position: absolute;
                        background-color: white;
                        border-radius: 8px;
                        margin-top: 15px;
                        padding: 8px;
                        box-shadow: 0px 0px 28.1px 0px #00000033;
                        width: 110px;
                        height: 126px;
                
                    }
                    li{
                        margin: 10px 0;
                        height: 30px;
                        font-size: 16px;
                        font-weight: 400;
                        padding-left: 5px;
                        display: flex;
                        align-items: center;
                
                    }
                    li:hover {
                        background-color: #FFDCCF;
                        color: 1px solid #FFC8B4;
                        border-radius: 6px;
                        font-weight: 550;
                    }
                }
            }
        }


        .search-icon {
            min-width: 50px;
            height: 50px;
            font-size: 25px;
            border-radius: 100px;
            background-color: #FF4400;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}




.project-card {
    .container {
        .card-header {
            width: 400px;
            height: 285px;
            box-sizing: border-box;
            display: flex;
            position: relative;
        
            img {
                min-width: 400px;
                height: 285px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                z-index: -1;
            }
        
            .icons-name{
                .icons{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .share{
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    background-color: #fff;
                    border-radius: 100px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                }
                .bookmark{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    background-color: #fff;
                    border-radius: 100px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                }
                .card-name {
                    width: 53px;
                    height: 25px;
                    border-radius: 8px;
                    color: white;
                    text-align: center;
        
        
                    p{
                        position: absolute;
                        bottom: 15px;
                        left: 20px;
                        background-color: #FF4400;
                        padding: 5px 7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        font-weight: 500 !important;
                    }
                }
            }
        }

        .card-main {
            .card-name {
                font-size: 24px;
                font-weight: 500;
                margin-top: 30px;
                color: #0D1B4D;
            }

            .description-text {
                font-size: 14px;
                color: #0D1B4D;
                margin: 15px 0;
                font-weight: 400;
            }

            .name-img {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 15px 0;

                img {
                    width: 42px;
                    height: 42px;
                    border-radius: 100px;
                }

                .name{
                    font-weight: 500;
                    font-size: 20px;
                }
            }

            .date-container {
                width: 187px;
                height: 33px;
                border-radius: 8px;
                border: 1px solid #E6E6E6;
                margin: 15px 0;

                .date {
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;
                    margin-top: 11px;
                }
            }
        }
    }
}




.mnetorium-card {
    .conatiner {
        .card-header {
            width: 400px;
            height: 285px;
            box-sizing: border-box;
            display: flex;
            position: relative;

            .icons-name{
                .icons{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .share{
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    background-color: #fff;
                    border-radius: 100px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                }
                .bookmark{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    background-color: #fff;
                    border-radius: 100px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .card-main {
            .card-name {
                width: 53px;
                height: 25px;
                border-radius: 8px;
                color: white;
                text-align: center;
                
            }
        }
    }
}






